---
layout: page
title : JPAllen's Blog
header : Post Archive
---
{% include JB/setup %}

<h1>James Allen (jpallen)</h1>

<p>
<a href="https://twitter.com/thejpallen">James Allen</a> 
is the founder of 
<a href="https://www.sharelatex.com">ShareLaTeX</a> 
and holds a PhD in Theoretical Physics from Durham University. 
He is currently interested in how technology can make scientists more efficient.
</p>

<h2>Find James</h2>

<p>
    <ul>
        <li>
            <a href="https://twitter.com/thejpallen">Twitter</a>
        </li>
        <li>
            <a href="https://github.com/jpallen">GitHub</a>
        </li>
        <li>
            <a href="mailto:james@sharelatex.com">Email</a> (james@sharelatex.com)
        </li>
    </ul>
</p>

<h2>Blog Posts</h2>

<ul class="post-list">
{% for post in site.posts  %}
  <li>
    <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
    <time>{{ post.date | date: "%B %e, %Y" }}</time>
  </li>
{% endfor %}
</ul>
