---
layout: default
---
{% include JB/setup %}
<h1>{{ page.title }}</h1>

{{ content }}

{% if page.reddit or page.hn %}
<p>
  <em>
  Discuss this post on
  {% if page.reddit %}
  <a href="{{ page.reddit }}">Reddit</a>
  {% endif %}
  {% if page.reddit and page.hn %}
  or
  {% endif %}
  {% if page.hn %} 
  <a href="{{ page.hn }}">Hacker News</a>
  {% endif %}
  </em>
<p>
{% endif %}


<footer>
    <span class="published">Published on <time>{{ page.date | date_to_long_string }}</time></span>
    <a href="{{ BASE_PATH }}/" class="all-posts">View All Posts</a>
    
    <div class="author">
        <strong>About the author:</strong>
        <a href="https://twitter.com/thejpallen">James Allen</a> 
        is the founder of 
        <a href="https://www.sharelatex.com">ShareLaTeX</a> 
        and holds a PhD in Theoretical Physics from Durham University. 
        He is currently interested in how technology can make scientists more efficient.
    </div>
</footer>
{% include JB/comments %}

